<?xml version="1.0"?>
<configuration>
  <appSettings file="">
    <clear />
    <add key="S57Folder" value="C:\Program Files\OpenCPN\s57data" />
    <add key="LastUsedFile" value="" />
    <add key="OpenLastUsedOnStartup" value="True" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="delimitedListener"
          type="System.Diagnostics.DelimitedListTraceListener"
          delimiter=":"
          initializeData="RleEditor.log"
          traceOutputOptions="ProcessId, DateTime" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
